/* App.css */

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Make the html and body occupy the full height */
  width: 100%; /* Make the html and body occupy the full width */
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Make sure the overall App container spans the full screen */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the App container covers the full height of the viewport */
  width: 100%; /* Full width of the screen */
  background-color: #f8f8f8;
}
